.container {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: white;
}

.progress-header {
  padding: 32px 24px;
}

.progress-header h1 {
  margin: 0px;
  margin-bottom: 16px;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
